{% extends 'base.html' %}
<title>Blog likes</title>

{% block content %}
{% load static %}
<div class="main-banner header-text">
    it's a way
</div>

<section class="blog-posts">
    <div class="container">
        <div class="row">
            <div class="sidebar">
                <div class="row">
                    <div class="all-blog-posts">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="sidebar-item search">
                                    <form id="search_form" name="gs" method="GET">
                                        <input type="text" name="q" id="q" class="searchText"
                                               placeholder="type to search..."
                                               autocomplete="on"
                                               value="{{ q }}">
                                        <button type="submit" class="btn btn-primary full-width">Search</button>

                                    </form>
                                </div>
                                <div class="blog-post">
                                    <div class="sidebar-item tags">
                                        <div class="sidebar-heading">
                                            <h2>Categories</h2>
                                        </div>
                                        <div class="content">
                                            <ul>
                                                {% for category in category %}
                                                <li><a href="{% url 'blog-category-detail' category.pk %}">{{ category }}</a></li>
                                                {% empty %}
                                                <p>No category for this search</p>
                                                {% endfor %}
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--                RIGHT SIDEBAR      -->
                    <div class="col-lg-4">
                        <div class="sidebar">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="sidebar-item recent-posts">
                                        <div class="sidebar-heading">
                                            <br>
                                            <br>
                                        </div>
                                        <div class="content">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog-posts grid-system">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
</section>


{% endblock %}