{% extends 'base.html' %}
<title>Blog detail</title>

{% block content %}
{% load static %}
<div class="main-banner header-text">
    it's a way
</div>

<section class="blog-posts grid-system">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="{{ blog.image.url }}" alt="">
                                </div>
                                <div class="down-content">
                                    <span>{{ blog.category.last }}</span>
                                    <a href="post-details.html"><h4>{{ blog.title }}</h4></a>
                                    <ul class="post-info">
                                        <li><a href="#">{{ blog.author }}</a></li>
                                        <li><a href="#">{{ blog.created_at }}</a></li>
                                        <li><a href="#">{{ blog.comments.count }} comments</a></li>
                                    </ul>
                                    <p>{{ blog.text }}</p>
                                    <div class="post-options">
                                        <div class="row">
                                            <div class="col-6">
                                                <ul class="post-tags">
                                                    {% for tag in blog.tag.all %}
                                                    <li><i class="fa fa-tags"></i></li>
                                                    <li>{{ tag }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="col-6">
                                                <ul class="post-share">
                                                    <li><i class="fa fa-share-alt"></i></li>
                                                    <li><a href="#">Facebook</a>,</li>
                                                    <li><a href="#"> Twitter</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item comments">
                                <div class="sidebar-heading">
                                    <h2>{{ blog.comments.count }} comments</h2>
                                </div>
                                <div class="content">

                                    <ul>
                                        {% for comments in blog.comments.all %}
                                        <li>
                                            <div class="author-thumb">
                                                <img src="{{ comments.author.profile.avatar.url }}" alt="">
                                            </div>
                                            <div class="right-content">
                                                <h4>{{ comments.author }}<span>{{ comments.created_date }}</span></h4>
                                                <p>{{ comments.text }}</p>
                                            </div>
                                        </li>

                                        <hr>
<!--                                        <li class="replied">-->
<!--                                            <div class="author-thumb">-->
<!--                                                <img src="assets/images/comment-author-02.jpg" alt="">-->
<!--                                            </div>-->
<!--                                            <div class="right-content">-->
<!--                                                <h4>Thirteen Man<span>May 20, 2020</span></h4>-->
<!--                                                <p>In porta urna sed venenatis sollicitudin. Praesent urna sem, pulvinar-->
<!--                                                    vel mattis eget.</p>-->
<!--                                            </div>-->
<!--                                        </li>-->
                                        {% endfor %}
                                    </ul>


                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="sidebar-item submit-comment">
                                <div class="sidebar-heading">
                                    <h2>Your comment</h2>
                                </div>
                                {% if user.is_authenticated %}
                                <div class="content">
                                    <form id="comment" action="#" method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <fieldset>
                                                    {% for field in comment_form %}
                                                    {{ field }}
                                                    {% endfor %}
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-12">
                                                <fieldset>
                                                    <button type="submit" id="form-submit" class="main-button">Submit
                                                    </button>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                {% else %}
                                <div class="content">
                                    <div class="row">
                                        <small>You need authenticated to send comment</small>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sidebar-item search">
                                <form id="search_form" name="gs" method="GET" action="#">
                                    <input type="text" name="q" class="searchText" placeholder="type to search..."
                                           autocomplete="on">
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item recent-posts">
                                <div class="sidebar-heading">
                                    <h2>Recent Posts</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li><a href="post-details.html">
                                            <h5>Vestibulum id turpis porttitor sapien facilisis scelerisque</h5>
                                            <span>May 31, 2020</span>
                                        </a></li>
                                        <li><a href="post-details.html">
                                            <h5>Suspendisse et metus nec libero ultrices varius eget in risus</h5>
                                            <span>May 28, 2020</span>
                                        </a></li>
                                        <li><a href="post-details.html">
                                            <h5>Swag hella echo park leggings, shaman cornhole ethical coloring</h5>
                                            <span>May 14, 2020</span>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item categories">
                                <div class="sidebar-heading">
                                    <h2>Categories</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li><a href="#">- Nature Lifestyle</a></li>
                                        <li><a href="#">- Awesome Layouts</a></li>
                                        <li><a href="#">- Creative Ideas</a></li>
                                        <li><a href="#">- Responsive Templates</a></li>
                                        <li><a href="#">- HTML5 / CSS3 Templates</a></li>
                                        <li><a href="#">- Creative &amp; Unique</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item tags">
                                <div class="sidebar-heading">
                                    <h2>Tag Clouds</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li><a href="#">Lifestyle</a></li>
                                        <li><a href="#">Creative</a></li>
                                        <li><a href="#">HTML5</a></li>
                                        <li><a href="#">Inspiration</a></li>
                                        <li><a href="#">Motivation</a></li>
                                        <li><a href="#">PSD</a></li>
                                        <li><a href="#">Responsive</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}