{% extends 'base.html' %}
<title>Blog detail</title>

{% block content %}
{% load static %}
<div class="main-banner header-text">
    it's a way
</div>

<section class="blog-posts grid-system">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blog-post">
                                <div class="blog-thumb-detail">
                                    <img src="{{ blog.image.url }}" alt="">
                                </div>
                                <div class="down-content">
                                    <span>{{ blog.category.last }}</span>
                                    <a href="{% url 'blog-detail' blog.pk %} "><h4>{{ blog.title }}</h4></a>
                                    <ul class="post-info">
                                        <li><a href="{% url 'author-view' blog.author.pk %}">{{ blog.author }}</a></li>
                                        <li><a>{{ blog.created_at }}</a></li>
                                        <li><a>{{ blog.comments.count }} comments</a></li>
                                        <li><a href="{% url 'blog-likes' blog.pk %}">{{ like_count }} people likes</a>
                                        </li>

                                    </ul>
                                    <p>{{ blog.text }}</p>
                                    <div class="post-options">
                                        <div class="row">
                                            <div class="col-6">
                                                <ul class="post-tags">
                                                    {% for tag in blog.tag.all %}
                                                    <li><i class="fa fa-tags"></i></li>
                                                    <li>{{ tag }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="col-6">
                                                <ul class="post-share">
                                                    {% if request.user.is_authenticated %}
                                                    {% if is_liked %}
                                                    <form method="post" action="{% url 'blog-detail' blog.pk %}">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="like" value="unlike">
                                                        <button type="submit" class="btn btn-danger"> Unlike
                                                        </button>
                                                    </form>
                                                    {% else %}
                                                    <form method="post" action="{% url 'blog-detail' blog.pk %}">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="like" value="like">
                                                        <button type="submit" class="btn btn-primary">Like
                                                        </button>
                                                    </form>
                                                    {% endif %}
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item submit-comment">
                                <div class="sidebar-heading">
                                    <h2>Your comment</h2>
                                </div>
                                {% if user.is_authenticated %}
                                <div class="content">
                                    <form id="comment" action="#" method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <fieldset>
                                                    {% for field in comment_form %}
                                                    {{ field }}
                                                    {% endfor %}
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-12">
                                                <fieldset>
                                                    <button type="submit" id="form-submit" class="main-button">Submit
                                                    </button>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                {% else %}
                                <div class="content">
                                    <div class="row">
                                        <small>You need authenticated to send comment</small>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item comments">
                                <div class="sidebar-heading">
                                    <h2>{{ blog.comments.count }} comments</h2>
                                </div>
                                <div class="content">
                                    {% for comments in blog.comments.all %}
                                    <ul>
                                        <li>
                                            <div class="author-thumb">
                                                <img src="{{ comments.author.profile.avatar.url }}" alt="">
                                            </div>
                                            <div class="right-content">
                                                <h4><a href="{% url 'author-view' comments.author.pk %}">{{ comments.author }}</a><span>{{ comments.created_date }}</span></h4>
                                                <p>{{ comments.text }}</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <hr>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--                RIGHT SIDEBAR      -->
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sidebar-item recent-posts">
                                <div class="sidebar-heading">
                                    <h2>Recent Posts</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        {% for blog in right_bar.model_blog_recent %}
                                        <li><a href="{{ blog.get_absolute_url }}">
                                            <h5>{{ blog.title }}</h5>
                                            <span>{{ blog.created_at }}</span>
                                        </a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item categories">
                                <div class="sidebar-heading">
                                    <h2>Categories</h2>
                                </div>
                                <div class="content">
                                    {% for category in right_bar.model_category %}
                                    <ul>
                                        <li><a href="#">- {{ category }}</a></li>
                                    </ul>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item tags">
                                <div class="sidebar-heading">
                                    <h2>Tag Clouds</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        {% for tag in right_bar.model_tag %}
                                        <li><a href="{% url 'blog-tag-detail' tag.pk %}">{{ tag }}</a></li>
                                        {% endfor %}
                                    </ul>

                                </div>
                            </div>
                        </div>

                        <!--                            FOR WEATHER APP     -->
                        <div class="widget-weather">

                            <div class="left-panel panel">
                                <div class="">
                                    <!--                                    {{ date_now }}-->
                                    <span id="datetime"></span>
                                </div>
                                <div class="">
                                    {{ weather.city }}, {{ weather.country }}
                                </div>
                                <div class="">
                                    {{ weather.temperature }}&deg;C {{ weather.description }}
                                </div>
                            </div>
                            <div class="right-panel panel">
                                <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                            </div>
                        </div>
                        <!--                                END           -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function updateDateTime() {
        var now = new Date();
        var datetime = now.toLocaleDateString("en-US", { month: "long", day: "numeric", year: "numeric" }) + " " + now.toLocaleTimeString();
        document.getElementById("datetime").innerHTML = datetime;
    }
    setInterval(updateDateTime, 1000);
</script>

{% endblock %}