{% extends 'base.html' %}
<title>Login</title>

{% block content %}
{% load static %}
<div class="main-banner header-text">
    it's a way
</div>

<section class="blog-posts grid-system">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        {% for blog in blog_categories %}
                        <div class="col-lg-6">
                            <div class="blog-post">
                                {% if blog.image %}
                                <div class="blog-thumb">
                                    <img src="{{ blog.image.url }}" alt="">
                                </div>
                                {% endif %}
                                <div class="down-content">
                                    <span><a href="{% url 'blog-category-detail' category.pk %}">{{ blog.category.last }}</a></span>
                                    <a href="{{ blog.get_absolute_url }}"><h4>{{ blog.title }}</h4></a>
                                    <ul class="post-info">
                                        <li><a href="{% url 'author-view' blog.author.pk %}">{{ blog.author }}</a></li>
                                        <li><a>{{ blog.created_at }}</a></li>
                                        <li><a>{{ blog.comments.count }} comments</a></li>
                                        <li><a href="{% url 'blog-likes' blog.pk %}">{{ blog.likes.count }} likes</a>
                                        </li>
                                        {% if blog.updated_at %}
                                        <li><a>Updated: {{ blog.updated_at }}</a></li>
                                        {% endif %}
                                    </ul>
                                    <p>{{ blog.text | truncatewords:25 }}</p>
                                    <div class="post-options">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <ul class="post-tags">
                                                    {% for tag in blog.tag.all %}
                                                    <li><a href="{% url 'blog-tag-detail' tag.pk %}">{{ tag }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="center">
                            <p>No blogs with this search</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!--                RIGHT SIDEBAR      -->
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sidebar-item search">
                                <h4>Tag: {{ tag }}</h4>
                                <br>
                                <form id="search_form" name="gs" method="GET">
                                    <input type="text" name="q" id="q" class="searchText"
                                           placeholder="type to search..."
                                           autocomplete="on"
                                           value="{{ q }}">
                                    <button type="submit" class="btn btn-primary full-width">Search</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}