{% extends 'base.html' %}
<title>Login</title>

{% block content %}



<div class="top-form-up23">
    <div class="center">
        <form method="post" class="card">
            <div>Location: {{ weather.city }}, {{ weather.country }} </div>
            <div>{{ weather.temperature }}&deg;C {{ weather.description }}  <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image"></div>
        <label for="weather_location">Choose city</label>
            <input id="weather_location">
            <button type="submit" class="btn btn-primary full-width">Check</button>
        </form>
    </div>
</div>
{% endblock %}