{% extends 'base.html' %}
<title>Reset password</title>

{% block content %}


<div class="center">
    <form method="post" class="card">
        <h2>Reset password confirm</h2>
        {% csrf_token %}
        {% for field in form %}
        {{ field.label_tag }}
        {{ field }}

        {% if field.errors %}
        <small>{{ field.errors|striptags }}</small>
        {% endif %}
        {% endfor %}
        <input type="submit" value="Reset Password" class="btn btn-primary">
    </form>
</div>
{% endblock %}